/* inline, block, inline-block. */

.inline li {
   display: inline;
}

.box {
width: 30%;
border: 1px solid black;
background: #f4f4f4;
display: inline-block;
box-sizing: border-box;

}
.img {
   width: 200px;
   display: block;
   margin: 40px auto;
}

.playground {
   position: relative;
   border: 4px solid black;
   height: 300px;
   padding: 20px;
}
.pos-box {
   /* position: absolute; */
   position: absolute;
   /* position: static; */
   /* left top right botton  */
   /* top: o;  */
   /* left: 0; */
   bottom: 0;
   right: 0;
   width: 50px;
   height: 50px;
   background: red;
}
